{% extends 'base.html' %}
{% block content_title %}XabberWeb Settings{% endblock %}

{% block content %}

    {% if warning %}
        <div class="mb-4 col-12">
            <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                {{ warning }}
            </div>
        </div>
    {% endif %}

    <div class="col-12 pb-5 mb-5">
        <form method="post">
            <div class="d-flex flex-column mb-4">
                {% csrf_token %}
                {% with form.LOGIN_DOMAINS as field %}
                    {% include 'xabber_web/input_field.html' %}
                {% endwith %}
                {% with form.REGISTRATION_DOMAINS as field %}
                    {% include 'xabber_web/input_field.html' %}
                {% endwith %}
                {% with form.REGISTRATION_BUTTON as field %}
                    {% include 'xabber_web/input_field.html' %}
                {% endwith %}

                <hr class="mt-0 mb-3">

                <div class="row">
                    <div class="col-md-3 d-none d-md-block"></div>
                    <div class="col-10 col-md-8">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#advanced-settings" aria-expanded="false" aria-controls="advanced-settings">
                            Advanced settings
                            <i class="bi bi-arrow-down-short"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse mt-3 {% if form.is_enabled.value %}show{% endif %}" id="advanced-settings">
                    {% with form.CONNECTION_URL as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.LOG_LEVEL as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.MAIN_COLOR as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.REGISTRATION_CUSTOM_DOMAIN as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.LOGIN_CUSTOM_DOMAIN as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.DISABLE_LOOKUP_WS as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.RECOMMENDED_DOMAIN as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}
                    {% with form.TURN_SERVERS_LIST as field %}
                        {% include 'xabber_web/input_field.html' %}
                    {% endwith %}

                    {% for error in form.non_field_errors %}
                        <div class="mb-3 text-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="fixed-bottom row col-md-9 col-xl-10 m-0 ms-auto py-4 px-0 px-md-4 bg-body border-top shadow">
                <div class="col-12 p-md-0">
                    <div class="container-xxl p-0">
                        <div class="d-flex flex-wrap mb-n3 me-n3">
                            <button class="btn btn-primary me-3 mb-3" type="submit">
                                Save
                            </button>
                            <button class="btn btn-secondary me-3 mb-3" type="submit" name="reset" value="true">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
