{% if not field.is_hidden %}
<div class="row form-group  {% if field.errors %}invalid{% endif %}">
    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">
        {{ field.label }}
    </label>
    <div class="col-sm-7">
        {{ field }}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        <div class="invalid-feedback d-block">
            {% for field_error in field.errors %}{{ field_error }} {% endfor %}
        </div>
    </div>
    {% if field.field.widget.attrs.hint %}
    <div class="col-sm-1">
        <div class="icon-link text-primary fs-2" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
             data-bs-title="{{ field.field.widget.attrs.hint }}">
            <i class="bi bi-info-circle-fill fs-5" style="width:16px"></i>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}