{% extends 'base.html' %}
{% block title %}XabberWeb Settings{% endblock %}
{% block main_content %}

    <div class="row no-gutters">
        <div class="col-sm-12 page-content">

    <div class="col breadcrumbs">
            <ul class="list-group list-group-flush list-group-horizontal">
                <li class="list-group-item"><h1>Xabber web settings</h1></li>
            </ul>
    </div>
        <div class="row no-gutters">
            <div class="col tabs">
                {% if warning %}
                <div class="alert alert-warning" role="alert">
                    {{ warning }}
                </div>
                {% endif %}
            </div>
        </div>
            <div style="margin-top:30px">
                <form method="post">
                {% csrf_token %}
                {% with form.LOGIN_DOMAINS as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.REGISTRATION_DOMAINS as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                <hr>
                {% with form.is_enabled as field %}
                        {% include 'include/input_field.html' %}
                {% endwith %}
                <div style="display:none" id="advanced-settings">
                {% with form.CONNECTION_URL as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.LOG_LEVEL as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.MAIN_COLOR as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.REGISTRATION_CUSTOM_DOMAIN as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.LOGIN_CUSTOM_DOMAIN as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.DISABLE_LOOKUP_WS as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.RECOMMENDED_DOMAIN as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                {% with form.TURN_SERVERS_LIST as field %}
                    {% include 'include/input_field_with_popover.html' %}
                {% endwith %}
                 {% for error in form.non_field_errors %}
                        <div class="form-group row">
                            <div class="col-sm-12 non-field-error">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                    <div class="row form-group form-btn-block" style="margin-left:-8px">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="submit" class="btn btn-secondary" name="reset" value="true">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        function set_advanced_settings() {
            var checked = $('#id_is_enabled').prop('checked');
            if (checked)
                $('#advanced-settings').show();
            else
                $('#advanced-settings').hide();
        }

        function updateAdvancedSettings() {
            var checked = $('#id_is_enabled').prop('checked');
            if (checked)
                $('#advanced-settings').show();
            else
                $('#advanced-settings').hide();
        }

        $(document).ready(function() {
            $('#id_is_enabled').bootstrapToggle({
                on: 'Hide',
                off: 'Show'
                    });
            updateAdvancedSettings();

            $('#id_is_enabled').change(function() {
                updateAdvancedSettings();
            })
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}